:root {
    --lightblue: #4DC3FA;
    --darkblue: #141e30;
    --mediumblue: #243b55;
}

html {
    background: linear-gradient(var(--darkblue), var(--mediumblue));
    background-repeat: no-repeat;
    min-height: 100%;
    max-width: 100%;
    font-family: sans-serif;
    font-size: large;
    color: white;
}

a {
    color: var(--lightblue);
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

header {
    max-width: 100%;
    padding: 1% 0 0 1%;
    top: 0;
}

header img {
    width: 5vw;
    height: 5vw;
    display: inline-block;
    vertical-align: middle;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav a {
    margin: 0 2vw 0 2vw;
}

main {
    width: 100%;
}

h1 {
    color: var(--lightblue);
}

button {
    background: transparent;
    border-color: var(--lightblue);
    border-radius: 30px 0;
    color: var(--lightblue);
    font-size: x-large;
    padding: 1% 2%;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.25s, color 0.25s, border-radius 0.25s, text-shadow 0.25s;
}

button:hover {
    background: var(--lightblue);
    color: white;
    border-radius: 30px;
    text-shadow: var(--darkblue) 2px 2px 5px;
}

button:active {
    opacity: 50%;
}

main,
footer {
    animation: fadeInAnimation forwards 2s;
}

.index section {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.index h1 {
    font-size: 400%;
    margin-bottom: -1%;
}

.index p {
    line-height: 150%;
}

.index main {
    position: fixed;
    top: 30%;
    width: fit-content;
    block-size: fit-content;
    text-align: center;
}

.index main img {
    animation: fadeInAnimation forwards 5s;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkblue);
    color: white;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
}

.equipe main {
    vertical-align: middle;
    text-align: center;
}

.equipe main img {
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    animation: 1.3s ease 0s beat;
    margin: 0 1vw 0 1vw;
    cursor: pointer;
    filter: grayscale(100%);
}

@keyframes beat {

    0%,
    50%,
    100% {
        transform: scale(1, 1);
    }

    30%,
    80% {
        transform: scale(0.90, 0.90);
    }
}

.equipe main img:hover~h2 {
    animation: fadeInAnimation forwards 1s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.equipe main img:hover {
    filter: grayscale(0%);
}

.equipe main section {
    display: inline-block;
    vertical-align: middle;
}

.equipe main h1 {
    margin-bottom: 3vw;
}

.equipe h2 {
    background-color: var(--lightblue);
    border-radius: 30px 0;
    text-shadow: var(--darkblue) 2px 2px 5px;
    color: white;
    padding: 0.5vw 0 0.5vw 0;
    margin: 3vw 3vw 0 3vw;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: larger;
    opacity: 0;
}

.sistema main {
    padding-bottom: 5vw;
    vertical-align: middle;
    text-align: center;
}

.sistema main h1 {
    text-align: left;
    font-size: 200%;
}

.sistema main h2 {
    text-align: left;
}

.sistema main p {
    line-height: 150%;
    padding: 0 3vw;
    text-align: justify;
}

.sistema main a {
    text-decoration: underline;
}

footer section {
    padding: 0.5vw 0 0.5vw 0;
    vertical-align: middle;
    display: inline-block;
}

footer section:nth-child(2) {
    margin-top: 1vw;
    margin-right: 3vw;
    float: right;
}

footer section:nth-child(1) {
    margin-left: 3vw;
    float: left;
}

footer svg {
    height: 1.75vw;
    margin: 0 0.5vw 0 0.5vw;
}

footer svg:hover {
    cursor: pointer;
    opacity: 50%;
}

footer h1 {
    font-weight: normal;
    font-size: large;
}