@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --amarelo: rgb(255, 193, 7);
}

* {
  font-family: montserrat, sans-serif;
}

body {
  background: #f1fbff;
}

/* carousel */
.section-padding {
  padding: 100px 0;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.carousel-caption h5 {
  color: var(--amarelo);
}

/*end carousel*/

/* navbar */
.nav-link {
  position: relative;
  color: #000 !important;
}

.nav-link::after {
  transition: all 0.4s;
  opacity: 0;
}

.nav-link:hover::after {
  content: "";
  opacity: 1;
  transition: all 0.4s;
  height: 2px;
  width: 100%;
  background-color: var(--amarelo);
  position: absolute;
  bottom: 0;
  left: 0;
}
.navbar a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #000;
}

.navbar-light .navbar-nav .navbar-link {
  color: #000;
}

/* sobre*/

.about-text h2 {
  color: var(--amarelo);
}

/* card */

.w-100 {
  height: 100vh;
}
.section-header h2 {
  color: var(--amarelo);
}
.card-body h3 {
  color: var(--amarelo);
  text-align: center;
  font-size: 22px;
  align-items: center !important;
}

.services .card-body i {
  font-size: 50px;
  color: var(--amarelo);
}

/* team */

.team .card-body i {
  font-size: 20px;
  cursor: pointer;
}
.team .card-text {
  cursor: pointer;
}
.team .card-text:hover {
  color: #9c17bd;
  font-weight: 500;
  font-size: 20px;
}
.portifolio.card-body .lead {
  font-size: 10px;
}
.socials .bi-github:hover {
  color: #9c17bd !important ;
}
.socials .bi-instagram:hover {
  color: #7c1039 !important;
}
.socials .bi-linkedin:hover {
  color: #2c39b4 !important;
}
.portifolio .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .row {
  margin-left: 100px;
}

/*  end team */

#vazio {
  color: #fff;
}
footer {
  height: 30px;
  background: #000 !important;
}

/*Responsive css*/

@media only screen and (min-widht: 768px) and (max-widht: 767px) {
  .carousel-caption {
    bottom: 300px;
  }
  .carousel-caption p {
    width: 100%!;
  }
  .card {
    margin-bottom: 370px;
  }
  video {
    width: 100%;
  }
}

@media only screen and (max-widht: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-caption a {
    padding: 10px 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  .about-text {
    padding-top: 50px;
  }
  .card {
    margin-bottom: 30px;
  }
}
